

###
 # @Author: sanford courageux_san@wechat.com
 # @Date: 2024-11-05 16:25:22
 # @LastEditors: sanford courageux_san@wechat.com
 # @LastEditTime: 2024-11-05 16:37:06
 # @FilePath: /web3_script/.env.example
 # @Description: 
### 
GRASS_TOKEN = ''
CRASS_USERID = ''
